@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #465b52;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body {
  width: 100%;
}

/* header */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #e3e6f3;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.06);
    z-index: 999;
    position: sticky;
    top:0;
    left: 0;
}

#navbar{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 20px;
    
    
    
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3s;
}

#navbar li a:hover,
#navbar li a.active{
    color: #591420;
}

#navbar li a.active::after,
#navbar li a:hover::after{
    content: "";
    width: 30px;
    height: 2px;
    background: #591420;
    position: absolute;
    bottom: -4px;
    left: 20px;
    transition: 0.5px;

}

#mobile{
    display: none;
    flex-direction: row;
    
}

#mobile i{
    color: #1a1a1a;
    font-size: 24px;
    padding-left: 20px;
    cursor: pointer;
}

#close{
 display: none;   
}

/* home page */
#hero{
    background-image: url('img/hero4.png');
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

#hero h4 {
    padding-bottom: 15px;
}

#hero h1{
    color: #591420;
}

#hero button{
    background-image: url("img/button.png");
    background-color: transparent;
    color: #591420;
    border: 0;
    padding: 14px 70px 14px 65px;
    cursor: pointer;
    background-repeat: no-repeat;
    font-weight: 700;
    font-size: 15px;
}

/* features */

#features{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fe-box{
    padding: 25px 20px;
    border: 1px solid #cce7d0;
    text-align: center;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
    width: 250px;
    height: 270px;
    margin: 15px 0;
}

.fe-box > img{
    width: 100%;
    margin-bottom: 6px;
}

.fe-box:hover{
    box-shadow: 30px 30px 54px rgba(70, 62, 221, 0.1);
}

.fe-box > h6{
    margin-top: 8px;
    padding: 9px 4px 6px 4px;
    line-height: 1;
    border-radius: 4px;
    color: #fff;
    background-color: #F2B56B;
}

.fe-box:nth-child(2) h6{
    background-color: #D98F4E
}

.fe-box:nth-child(3) h6{
    background-color: #A62F03
}

.fe-box:nth-child(4) h6{
    background-color: #732002
}

.fe-box:nth-child(5) h6{
    background-color: #F2B56B
}

.fe-box:nth-child(6) h6{
    background-color: #D98F4E
}


#product1{  
    text-align: center;
}

.pro-container{
    flex-wrap: wrap;
    display: flex;
    gap: 20px;
    margin-left: 50px;
}

.pro {
    border-radius: 8px;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    transition: 0.2s ease;
    position: relative; 
    flex-wrap: wrap;
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

.pro img {
    height: auto;
    width: 60%;
    border-radius: 12px;
}

.pro .desc {
    text-align: start;
    padding: 10px 0;
    width: 100%; 
    position: relative; 
    margin-top: auto; 
}

.pro .desc span {
    font-size: 14px;
    margin: 10px 0;
}

.stars i {
    color: rgb(255, 196, 0);
    width: 15px;
}

.desc h4 {
    padding-top: 10px;
    font-size: 15px;
    font-weight: 700;
    color: #591420;
}

.desc h5{
    margin-top: 10px;
    margin-bottom: 6px;
}


.cart{
    width: 40px;
    height: 40px;
    line-height: 40px !important;
    border-radius: 50px;
    color: #591420;
    background-color: #e8fae8;
    border: 1px solid #e8fae8;
    position: absolute;
    bottom: 15px;
    right: 10px;
}

/* banner */

#banner{
    background-image: url(img/banner/b2.jpg);
    text-align: center;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#banner h4{
    color: #fff;
    
}
#banner h1{
    color: #fff;
}

#banner h1 strong{
    color: #BF1B1B;
}

#banner button:hover{
    background-color: #591420;
    color: #fff;
}



#sm-banner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box{
    background-image: url(img/banner/b17.jpg);
    text-align: center;
    height: 50vh;
    min-width: 850px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
    
}

.banner-box2 {
    background-image: url(img/banner/b10.jpg);
    text-align: center;
    height: 50vh;
    min-width: 850px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
}



.banner-box h4, .banner-box2 h4{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.banner-box span, .banner-box2 span{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
.banner-box2 h2 {
    color: #fff;
    padding-bottom: 5px;
}

.banner-box button, .banner-box2 button{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    color: #fff;
    outline: none;
    transition: 0.2s;
    margin-top: 8px;
}

.banner-box button:hover{
    color: #fff;
    background-color: #D98F4E;
    border: 1px solid #D98F4E;
}

.banner-box2 button:hover{
    background-color: #262626;
    border: 1px solid #262626;
}

#banner3{
    display: flex;
    flex-direction: row;
    gap: 30px;
}


#banner3 .banner-sm1{
    background-image: url(img/banner/b7.jpg);
    text-align: start;
    padding-left: 60px;
    padding-top: 80px;
    height: 30vh;
    width: 100%;
    min-width: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: flex-start;

}

#banner3 .banner-sm2 {
    background-image: url(img/banner/b4.jpg);
    text-align: start;
    padding-left: 60px;
    padding-top: 80px;
    height: 30vh;
    width: 100%;
    min-width: 350px;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: flex-start;
}

#banner3 .banner-sm3{
    background-image: url(img/banner/b18.jpg);
    text-align: start;
    padding-left: 60px;
    padding-top: 80px;
    height: 30vh;
    width: 100%;
    min-width: 350px;
    background-repeat: no-repeat;
    background-position: center;
    justify-content: center;
    align-items: flex-start;
}

.banner-sm1 h2, .banner-sm2 h2, .banner-sm3 h2{
    color: #fff;
    max-width: 90%;
}
.banner-sm1 h3, .banner-sm2 h3, .banner-sm3 h3{
    color: #A61C1C;
    max-width: 90%;
}

#newsletter{
    background-color: #735134;
    background-image: url(img/banner/b14.png);
    text-align: center;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 200px;

}

.newstext{
    text-align: start;
}

.newstext h4{
    color: #fff;
    font-size: 28px;
    padding: 8px;
}

.newstext h5{
    color: #e3e6f3
}

.newstext h5 strong{
    color: #F29D35;
    opacity: 1;
}

.newsInput{
    margin-right: 5em;
}

.newsInput input{
    width: 30em;
    height: 4em;
    border-radius: 6px;
    border: none;
    outline: none;
}

.newsInput button{
    height: 4em;
    width: 8em;
    position: absolute;
    right: 178px;
    border-radius: 0 6px 6px 0;
    border: none;
    background-color: #591420;
    border-left: 5px solid #591420;
    color: #fff;
    font-weight: 700;
}


#footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}



.footer1 img{
    margin-bottom: 10px;
}

.footer1 h6{
    padding: 10px 0 10px 0;
    font-size: 14px;
}

.footer1 span{
    color: #465b52;
    font-size: 12px;
    padding: 5px 0 5px 0;
    cursor: pointer;
}



.footer1 .footer1-icons a{
    text-decoration: none;
    color: #465b52;
    cursor: pointer;
}

.footer2{
    display: flex;
    flex-direction: column;

}

.footer2 h6{
    font-size: 14px;
}

.footer2 span{
    color: #465b52;
    font-size: 12px;
    padding: 5px 0 5px 0;
    cursor: pointer;
}

.footer3{
    display: flex;
    flex-direction: column;

}

.footer3 h6{
    font-size: 14px;
}

.footer3 span{
    color: #465b52;
    font-size: 12px;
    padding: 5px 0 5px 0;
    cursor: pointer;
}

.footer4 h6{
    font-size: 14px; 
}

.footer4 span{
    color: #465b52;
    font-size: 13px;
    padding: 5px 0 5px 0;
}

.footer4-apps img{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #591420;
    border-radius: 6px;
    cursor: pointer;
}

.footer4 img{
    margin-top: 10px;
    margin-bottom: 10px;
}

#footer .copyright{
    position: absolute;
    color: #465b52;
    font-size: 13px;
    width: 500px;
    margin-top: 250px;
    left: 38%;
    padding-bottom: 50px;
}


@media (max-width: 1024px) {
    #hero{
        background-position: top 25% right 30%;
    }


    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #e3e6f3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.03);
        padding: 80px 0 0 10px;
        transition: 0.3s ease-in-out;
    }

    #mobile{
        display: flex;  
    }

    #close{
        display: block;   
       }

    #sm-banner .banner-box{
        height: 30vh;
        min-width: 100%;
        margin-bottom: 20px;
    }

    .banner-box2{
        min-width: 100%;
        height: 30vh;
    }

    #banner3{
        gap: 17px;
    }

    #banner3 .banner-sm1{
        height: 14vh;
        min-width: 250px;
        padding-top: 30px;
    }

    #banner3 .banner-sm2{
        height: 14vh;
        min-width: 250px;
        padding: 20px 0 0 10px;
        background-position: center;
    }

    #banner3 .banner-sm3{
        height: 14vh;
        min-width: 250px;
        padding: 20px 0 0 10px;
        background-position:center;
    }

    .banner-sm1 h2{
        font-size: 20px;
    }

    .banner-sm2 h2{
        font-size: 14px;
        width: 1000px;
        max-width: 130%;
    }

    .banner-sm3 h2{
        font-size: 18px;

    }

    #newsletter{
        padding: 0 25px;
    }

    .newsInput button{
        right: 10px;
    }

    .newsInput input{
        width: 27em;
    }

    

    


    
}

@media (max-width: 477px) {

    h2{
        font-size: 32px;
    }

    h1{
        font-size: 38px;
    }
    
    #header{
        padding: 20px 20px;
    }
    #hero{
        padding: 0 5px;
    }

    #features .fe-box{
        height: 159px;
        width: 124px;
        margin: 0 0 15px 0;
        
    }

    .pro{
        min-width: 195px;
    }

    #banner h4{
        font-size: 12px;
    }

    #banner h1{
        width: 197px;
        font-size: 22px;}

    #sm-banner .banner-box{
        padding-left: 5px;
    }

    #sm-banner .banner-box2{
        padding-left: 5px;
    }

    #sm-banner .banner-box2 h2{
        font-size: 23px;
    }

    #banner3{
        display: flex;
        flex-direction: column;
    }

    #banner3 .banner-sm1{
        padding-left: 5px;
        height: 20vh;
    }

    .banner-sm1 h2{
        max-width: 110%;
        
        
    }

    #banner3 .banner-sm2{
        height: 20vh;
        background-position: center;
    }

    #banner3 .banner-sm3{
        height: 20vh;
        background-position: center;
    }

    #newsletter{
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        
    }

    #newsletter .newstext h4{
        font-size: 16px;
        margin-left: 83px;
        margin-top: 15px;
    }

    #newsletter .newstext h5{
        font-size: 12px;
        width: 400px;
    }

    .newsInput button{
        right: 24px;
        width: 6em;
        height: 2em;
    }

    .newsInput input{
        width: 22em;
        height: 2em;
        margin-bottom: 20px;
    }

    #footer{
        padding-left: 30px;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: none;
        text-align: center;
        align-items: center;
    }

    .footer1 img{
        margin-left: 60px;
    }

    #footer .copyright{
        display: none;
    }
}


/* shop page */

#shop-hero{
    background-image: url('img/banner/b1.jpg');
    height: 30vh;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#shop-hero h1{
    color: #fff;
}

#shop-hero h4{
    color: #fff;
}

#paginator{
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

#paginator a{
    text-decoration: none;
    color: #fff;
    background-color: #591420;
    padding: 15px 20px;
    border-radius: 6px;
    font-weight: 600;
    cursor: pointer;
}
#prodDetails{
    display: flex;
    margin-top: 20px;
}

#prodDetails .single-pro-image{
    width: 40%;
    margin-right: 50px;
}

#prodDetails .small-img-group{
    display: flex;
    justify-content: space-between;
}

.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

.single-pro-details{
    width: 50%;
    padding-top: 30px;
    h4{
        padding: 40px 0 20px 0;
    }
}

/* .single-pro-details h4{
    padding: 40px 0 20px 0;
} */

.single-pro-details h2{
    font-size: 26px;
}

.single-pro-details select{
    display: block;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.single-pro-details input{
    width: 60px;
    height: 60px;
    font-size: 20px;
    border-radius: 6px;
}

.single-pro-details button{
    padding: 10px 20px;
    margin-left: 10px;
    border-radius: 6px;
    background-color: #fff;
    border: 1px solid #591420;
    color: #591420;
    transition: 0.3s ease;
    font-weight: 600;
}

.single-pro-details button:hover{
    background-color: #591420;
    color: #fff;
}







